<html>
<head>
<script src="/static/js/jquery-3.3.1.js"></script>
<script src="/static/js/bootstrap.js"></script>
<link rel="stylesheet" href="/static/css/bootstrap.css">
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<style>
.settingscol{
background-color:rgb(100,120,180);
}

</style>
<title>Neural Network Rest Api</title>
</head>
<body onload="init();">
<h1>Neural Network Rest Api</h1>

<script src="/static/js/hello.js?v=1.14"></script>
<input type="text" id="inp_pred">
<input type="button" value="Predict" id="predict" onclick="predict()"><br>
<p id="response"></p>
</body>
</html>
